<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola</h1>
    <p>
       Su medicación fue programada:
    </p>
    
    <p>
      <strong>Medicine:</strong>
      <%= @notification.medicine %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @notification.email %>
    </p>

    <p>
      <strong>Cadence minutes:</strong>
      <%= @notification.cadence_minutes %>
    </p>

    <p>
      <strong>Start:</strong>
      <%= @notification.start %>
    </p>

  </body>
</html>
